<!DOCTYPE html>
<html>
<head>
<title th:text="#{calendar.title}"></title>
</head>
<body>
    <div id="content">
        <div class="center">
            <p> <span th:text="#{calendar.header}"/> <span th:text="${year}"/>
                <span th:if="${isLeapYear}">Leap Year</span>
                <span th:if="${!isLeapYear}">Not Leap Year</span>
            </p>
            <p>
                <a href="main" class="pure-button pure-button-primary" th:href="@{/main}"
                   th:text="#{calendar.main}"></a>
            </p>
	</div>
    </div>
    <div id="footerhtml"><div th:include="footer::footer"></div></div>
    <div id="headerhtml" th:include="header::header"></div>
    <div id="menuhtml" th:include="menu::menu"></div>
    <div id="linkhtml" th:include="link::link"></div>
</body>
</html>
