<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="decorator">
<head>
<title th:text="#{calendar.title}"></title>
</head>
<body>
    <div layout:fragment="content">
        <div class="center">
            <p> <span th:text="#{calendar.header}"/> <span th:text="${year}"/>
                <span th:if="${isLeapYear}">Leap Year</span>
                <span th:if="${!isLeapYear}">Not Leap Year</span>
            </p>
            <p>
                <a href="main" class="pure-button pure-button-primary" th:href="@{/main}"
                   th:text="#{calendar.main}"></a>
            </p>
	</div>
    </div>
</body>
</html>
