<!DOCTYPE html>
<html lang="en" data-theme="light">

    <head>
        <title>decorator title</title>
        <meta charset="utf-8" />
        <script src="webjars/font-awesome/js/all.min.js"
                data-th-src="@{/webjars/font-awesome/js/all.min.js}">
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="images/favicon.ico"
              data-th-href="@{/images/favicon.ico}" type="image/x-icon" />
        <link type="text/css" rel="stylesheet" href="webjars/bulma/css/bulma.min.css"
              data-th-href="@{/webjars/bulma/css/bulma.min.css}" />
        <link type="text/css" rel="stylesheet" href="css/style.css"
              data-th-href="@{/css/style.css}" />
        <link type="text/css" rel="stylesheet" href="css/style-black.css"
              data-th-href="@{|/css/style-blue.css|}" />
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar-brand navbar-center" data-layout-fragment="menu">
                <a href="main" class="navbar-item" data-th-href="@{/main}">
                    <span class="bold"> <span data-th-text="#{decorator.header}"></span>
                    <i class="fas fa-calendar fa-lg"></i></span>
                </a>
                <a role="button" class="navbar-burger burger"
                   data-target="litcalMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <div class="navbar-menu" id="litcalMenu"></div>
            </div>
        </nav>
        <div data-layout-fragment="content">content</div>
        <div class="center">
            <p data-th-utext="#{decorator.footer}">footer</p>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {

              // Get all "navbar-burger" elements
              const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

              // Check if there are any navbar burgers
              if ($navbarBurgers.length > 0) {
              // Add a click event on each of them
              $navbarBurgers.forEach( el => {
                  el.addEventListener('click', () => {

                      // Get the target from the "data-target" attribute
                      const target = el.dataset.target;
                      const $target = document.getElementById(target);

                      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                      el.classList.toggle('is-active');
                      $target.classList.toggle('is-active');

                  });
              });
              }
            });
        </script>
    </body>
</html>
