<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title th:text="#{error.title}">
    </title>
</head>
    <body>
        <div id="content">
<div class="center">
    <h1 th:text="#{error.header}" ></h1>
    <p th:text="#{httpError.text}" ></p>
    <p> <span th:text="#{httpError.status}" /> <span th:text="${status}"/></p>
<p><span th:text="#{httpError.reason}" /> <span th:text="${reason}"/></p>
</div>
        </div>
    <div id="footerhtml"><div th:include="footer::footer"></div></div>
    <div id="headerhtml" th:include="header::header"></div>
    <div id="menuhtml"></div>
    <div id="linkhtml" th:include="link::link"></div>
    </body>
</html>
